In [2]:
import pandas as pd
import numpy as np

movie_data_path = '../data/movies/'

In [ ]:
characters = []
for movie_num in range(1,7):
    movie = pd.read_csv(movie_data_path + f'star_wars_{movie_num}_data.csv', sep=';')

    movie.replace({'from': {'nan': pd.NA}, 'to': {'nan': pd.NA}}, inplace=True)

    characters.extend(movie['from'].dropna().to_list())
    characters.extend(movie['to'].dropna().to_list())

unique_characters = list(set(characters))

In [4]:
df_characters = pd.DataFrame({'character': characters})

df_counts = df_characters.groupby('character').size().reset_index(name='count')

df_counts = df_counts.sort_values(by='count', ascending=False)

df_counts

           character  count
8             ANAKIN    778
164          OBI-WAN    629
147             LUKE    493
177            PADME    388
193          QUI-GON    385
..               ...    ...
131  JEDI CHILD JACK      1
132   JEDI CHILD MAY      1
134             JIRA      1
148       MACE IWNDU      1
282                c      1

[283 rows x 2 columns]

In [ ]:
# pd.DataFrame({'movie_name': unique_characters}).to_csv('../data/movies/movie_characters_unedited.csv', sep=';')

In [19]:
df_script = pd.DataFrame(columns=['from', 'to', 'text', 'where', 'time', 'movie_num'])

for movie_num in range(1, 7):
    current_movie_path = f'star_wars_{movie_num}_data.csv'
    current_movie = pd.read_csv(movie_data_path + current_movie_path, sep=';')

    current_movie.replace({'from': {'nan': pd.NA}, 'to': {'nan': pd.NA}}, inplace=True)
    current_movie = current_movie[['from', 'to', 'text', 'where', 'time']]
    current_movie['movie_num'] = movie_num

    df_script = pd.concat([df_script, current_movie], ignore_index=True)

df_script['from'] = df_script['from'].str.lower()
df_script['to'] = df_script['to'].str.lower()
df_script['text_processed'] = df_script['text'].str.lower().str.replace(r'[^a-z\s]', '', regex=True)

df_script.to_csv(f'{movie_data_path}moviescripts_compiled.csv', index=False)

In [20]:
df_script

,from,to,text,where,time,movie_num,text_processed
0,qui-gon,captain,Captain.,INT. REPUBLIC CRUISER - COCKPIT,9,1,captain
1,captain,qui-gon,"Yes, sir?",INT. REPUBLIC CRUISER - COCKPIT,18,1,yes sir
2,qui-gon,captain,Tell them we wish to board at once.,INT. REPUBLIC CRUISER - COCKPIT,72,1,tell them we wish to board at once
3,captain,qui-gon,"Yes, sir.",INT. REPUBLIC CRUISER - COCKPIT,18,1,yes sir
4,captain,nute,With all due respect the ambassadors for the s...,INT. REPUBLIC CRUISER - COCKPIT,126,1,with all due respect the ambassadors for the s...
...,...,...,...,...,...,...,...
5508,leia,NaN,He wasn't. I can feel it.,136 EXT ENDOR FOREST,NaN,6,he wasnt i can feel it
5509,han,NaN,"You love him, don't you?",136 EXT ENDOR FOREST,NaN,6,you love him dont you
5510,leia,NaN,Yes.,136 EXT ENDOR FOREST,NaN,6,yes
5511,han,NaN,All right. I understand. Fine. When he comes b...,136 EXT ENDOR FOREST,NaN,6,all right i understand fine when he comes back...
5512,leia,NaN,"Oh. No, it's not like that at all. He's my bro...",136 EXT ENDOR FOREST,NaN,6,oh no its not like that at all hes my brother